<br>
<br>
<br>
<br>
<div class="letter">
    <div class="xd">
        <form id="form" class="form-signin" #login="ngForm" (ngSubmit)="onSubmit()">
            <br>
            <img src="../../../assets/img/user.svg" alt="login" style="width: 150px; margin-bottom: 25px;">
            <h1>Inicio de sesión</h1>
            <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico </mat-label>
                <input matInput autocomplete="off" [(ngModel)]="user.email" name="username" required>
                <mat-icon matSuffix>alternate_email</mat-icon>
              </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off" type="password" [(ngModel)]="user.password" name="username" required>
                <mat-icon matSuffix>https</mat-icon>
              </mat-form-field>
              <button mat-raised-button color="accent" [disabled]="!login.form.valid" type="submit">Iniciar Sesión</button>
        </form>
      </div>
</div>
   
 