<br>
<br>
<br>
<br>
<div class="letter">
    <div class="xd">
        <form>
            <br>
            <img src="../../../assets/img/user.svg" alt="login" style="width: 150px; margin-bottom: 25px;">
            <h1>Inicio de sesión</h1>
            <mat-form-field appearance="outline">
                <mat-label>Usuario o Correo electrónico</mat-label>
                <input matInput autocomplete="off">
                <mat-icon matSuffix>alternate_email</mat-icon>
              </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off" type="password">
                <mat-icon matSuffix>https</mat-icon>
              </mat-form-field>
              <button mat-raised-button color="accent" style="margin-top: 15px; margin-bottom: 15px;">Iniciar Sesión</button>
        </form>
      </div>
</div>
   
 