
<br>
<br>
<br>
<div class="letter">

      <form id="form"  #register="ngForm" (ngSubmit)="onSubmit(register)">
        <div class="row">
            <div class="col-lg-6" style="text-align: initial;"> 
                <div style="display: flex; justify-content: center; align-items: center; text-align: center;">
                      <div class="full" id="map"></div>
                </div>
                <div style="text-align: center;" *ngIf="ley == undefined || ley == 0 " >
                  <p></p>
                  <button mat-button disabled style="color: black;">Selecciona donde vives<span class="material-icons" style="margin-top: -5px; margin-left: 10px;">home</span></button>
                </div>
                <button style="margin-top: 15px;" mat-raised-button color="warn"  (click)="deleteMarkers()" *ngIf="ley == 1 " class="deleteM"><span class="material-icons">delete</span></button>
            </div>
            <div class="col-lg-6">
              <div style="text-align: end;">
                <button routerLink="/registar-empresa"  mat-raised-button type="button" style="color: white; width: 50%; text-align: center; background-color: black;"><span class="material-icons" style="margin-right: 15px;">work</span>Registrar Empresa<span class="material-icons" style="margin-left: 10px;">keyboard_arrow_right</span></button>
              </div>
                <h1>Registrarse</h1>
                <div class="row">
                  <div class="col-lg-6">
                      <mat-form-field appearance="outline">
                          <mat-label>Nombres</mat-label>
                          <input matInput [(ngModel)]="user.name" name="name" #names="ngModel" autocomplete="off" required>
                        </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                      <mat-form-field appearance="outline">
                          <mat-label>Apellidos</mat-label>
                          <input matInput [(ngModel)]="user.lastname" name="lastname" #lastname="ngModel" autocomplete="off" type="text" required>
                        </mat-form-field>
                  </div>
              </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Teléfono</mat-label>
                      <span matPrefix>+502 &nbsp;</span>
                      <input type="number" matInput placeholder="2225-1234" autocomplete="off" [(ngModel)]="user.phone" name="phone" min="11111111" required max="99999999">
                      <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Fecha de Nacimineto</mat-label>
                      <input matInput [matDatepicker]="picker" [(ngModel)]="user.dateage" name="dataage" required>
                      <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    
                  </div>
                </div>  
                <mat-form-field appearance="outline">
                  <mat-label>Correo Electrónico</mat-label>
                  <input matInput [(ngModel)]="user.email" name="email" #password="ngModel" autocomplete="off" type="email" required>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [(ngModel)]="user.password" name="password" #password="ngModel" autocomplete="off" type="password" required>
                    <mat-icon matSuffix>https</mat-icon>
                  </mat-form-field>
                  
                
                  <button class="btnre" mat-raised-button type="submit" [disabled]="!register.form.valid">Registrarse</button>
                  
            </div>
        </div>
      </form>
    


</div>
