.container{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleH1{
    color: white;
    font-size: 35px;
    padding: 25px;
}
#map{
    width: 330px;
    height: 330px;
    border-style: solid;
    border-color: rgb(156, 156, 156);
    border-radius: 5px;
}

//KEKW


html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: sans-serif;
	font-weight: 100;
}

.containerTbl {

  //para posicion
   margin-top: 2vh;

	/*position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);*/
}

table {
	width: 950px;
	/*border-collapse: collapse;
	overflow: hidden;*/
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
  text-align: center;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
}

th {
	text-align: center;
}

thead {
	th {
		background-color: #ffffff;
	}
}




#delocos{
  justify-content:center;
  text-align: center;

  display: flex;
}

//BTNSSSS

#btnMap{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://media0.giphy.com/media/MsUs7RteSQjcc/giphy.gif");
    color: white;
}

#btnOrder{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://media0.giphy.com/media/MsUs7RteSQjcc/giphy.gif");
    color: white;
}