.container{
  height: 20vh;
  justify-content:center;
  align-items:center;
  text-align: center;
  
  display: flex;
  
}

#titleH1{
  color: white;
  font-size: 35px;
  padding: 25px;
}
/*
.container0{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feat{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#titleH1{
    color: white;
    font-size: 35px;
    padding: 25px;
}

#table{
    background-color: white;
    width: 75%;
    height: 40px;
}
#feat{
    background-color: white;
    width: 75%;
    height: 5px;
}
.feat1{
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#table1{
    width: 75%;
    height: 40px;
    text-align: end;
}

*/

//
#delocos{
  justify-content:center;
  align-items:center;
  text-align: center;

  display: flex;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  /* style file */
  .inputfile-6 + label figure {
    width: 225px;
    height: 225px;
    background-color: transparent;
    border-style: dotted;
    border-color: black;
    border-width: 4px;
    padding: 5px 25px 25px 25px;
    cursor:pointer;
  }
  .logo{
    width: 225px;
    height: 225px;
  }
  .imgpromo{
    width: 100px;
    height: 100px;
  }
  
  .inputfile-6:focus + label figure,
  .inputfile-6.has-focus + label figure,
  .inputfile-6 + label:hover figure {
    background-color: transparent;
  }
  
  .inputfile-6 + label svg {
    width: 100%;
    height: 100%;
    fill: #000;
  }


  //-------BUTTON DELETE---------

 #titleDelete{
  text-align: center;
  font-weight: bold;
 }

 #bodyDelete{
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 #btnDelete{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://media3.giphy.com/media/tHjHlQXMktlhwuZJun/200w.gif");
  color: white;
 }

 #bodyDelete{
  justify-content: center;
  align-items: center;
  text-align: center;
 }
/*
 //title


 #tableTitle{
  font-weight: bold;
 }
*/
 /*
#btnContainer{
  width: 50px;
}

#btnTable{
  padding: -30px;
}*/

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: sans-serif;
	font-weight: 100;
}

.containerTbl {

  //para posicion
   margin-top: 2vh;

	/*position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);*/
}

table {
	width: 750px;
	/*border-collapse: collapse;
	overflow: hidden;*/
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {

	padding: 15px;
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
}

th {
	text-align: center;
}

thead {
	th {
		background-color: #ffffff;
	}
}



