.container{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin{
    color: white;
    border-color: white;
    padding: 15px;
    width: 200px;
    margin: 25px;
}

