.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgUser{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

mat-card{
    width: 85%;
}

.tit{
    font-size: smaller;
    font-weight: bold;
}
.list{
    font-size: small;
    margin-left: 25px;
    margin-top: -15px;
}

#map{
    width: 230px;
    height: 230px;
    border-style: solid;
    border-color: rgb(156, 156, 156);
    border-radius: 5px;
}

h4{
    font-weight: bold   ;
}

#labelDelete{
    width: 100%;
}