<div class="container">
    <button id="titleH1" mat-stroked-button disabled><span class="material-icons" style="font-size: 35px; margin-right: 10px; margin-top: -10px;">category</span>Categorias</button>
</div>
<div class="container1">
    <div id="table1">
        <button mat-raised-button ><span class="material-icons" style="margin-right: 10px;">category</span>Agregar Categorias <span class="material-icons"  style="margin-left: 10px;">add</span></button>
    </div>

</div>
<div class="container0">
<div class="row" id="table" style="text-align: center; border-radius: 5px 5px 0px 0px; ">
    <div class="col-lg-4" style="width: 33.33%; line-height: 40px;">
        <p>Nombre</p>
    </div>
    <div class="col-lg-4" style="width: 33.33%; line-height: 40px;">
        <p>Nombre</p>
    </div>
    <div class="col-lg-4" style="width: 33.33%; line-height: 40px;">
        <p>Nombre</p>
    </div>
</div>
</div>
