.container{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container0{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}


#titleH1{
    color: white;
    font-size: 35px;
    padding: 25px;
}

#table{
    background-color: white;
    width: 75%;
    height: 40px;
}
#table1{
    width: 75%;
    height: 40px;
}