.field {
    display:flex;
    position: fixed;
    height: 40px;
    border-radius: 5px 0px 5px 10px;
    z-index: 2;
  }
  
  .field>input[type=text],
  .field>button {
    display:block;
    font:1.2em 'Montserrat Alternates';
    border-radius: 0px 5px 5px 0px;
    border: none;
    width: 10%;
    
  }
  
  .field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em solid black;
    border-radius: 5px 0px 0px 5px;
    
  }
  
  .field>button {
    padding:0.6em 0.8em;
    background-color:black;
    color:white;
    border-radius: 0px 5px 5px 0px;
    border: none;
  }
       
  #searchterm{
    width: 65vw;
  }  
/*
  .example-card {
    max-width: 300px;
  }*/

  .logo{
    width: 225px;
    height: 225px;
  }
  .imgpromo{
    width: 100px;
    height: 100px;
  }

  //CSS DE LA CARD QUE SI SIRVE
  #bodyCard{
    max-width: 350px;
    max-height: 400px;
    min-width: 350px;
    min-height: 400px;
    background-color: whitesmoke;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    margin-block: 30px;
    float: left;
    margin-right: 30px;
    align-items: center;
  }

  #headerCard{
    font-size: 15px;
    margin-top: 10px;
    font-family: Gill Sans, sans-serif;;  
    font-weight: bold;
  }

  #imgCard{
    margin-top: 30px;
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
  }

  #descCard{
    text-align: justify;
    font-family: Gill Sans, sans-serif;;
    font-size: 15px;
    padding: 10px;
    min-width: 330px;
    min-height: 100px;
    max-width: 330px;
    max-height: 100px;
    display: flex;
    align-items: center;
  }

  #catCard{
    bottom: 0;
    font-family: URW Chancery L, cursive;
    font-size: 15px;
  }
/*
  #catCardTitle{
    font-weight: bold;
    bottom: 0;
    font-family: Gill Sans, sans-serif;;
    font-size: 15px;
    padding: 20px;
  }*/

/*
  #diosssssss{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin-block: 50px;
  }
*/

#allCard{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 300px;
}

//CSS CARDS (PROFE ME ESTOY DEJANDO LA SALUD MENTAL EN ESTO, MERECEMOS 200 PTS EXTRS


  
.container {
	position: absolute;
	width: 1100px;
	top: 350px;
	left: calc(50% - 590px);
	display: flex;
  }

  .container2 {
	position: absolute;
	width: 1100px;
	top: 750px;
	left: calc(50% - 575px);
	display: flex;
	margin-bottom: 50px;
	padding-bottom: 50px
  }
  
  .card {
	display: flex;
	height: 320px;
	min-width: 180px;
	background-color: white;
	border-radius: 10px;
	box-shadow: -1rem 0 3rem black;
  	/*margin-left: -50px;*/
	transition: 0.4s ease-out;
	position: relative;
	left: 0px;
	padding: 10px;
  }
  
  //tamaño de las cartas (cuando hay muchas)
  .card:not(:first-child) {
	  margin-left: -40px;
  }
  
  .card:hover {
	transform: translateY(-20px);
	transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
	position: relative;
	left: 50px;
	transition: 0.4s ease-out;
  }
  
  .title {
	color: black;
	position: absolute;
	left: 20px;
	top: 15px;
	font-family: Gill Sans, sans-serif;
	font-weight: bold;
  }
  /*
  .bar {
	position: absolute;
	top: 100px;
	height: 5px;
	width: 160px;
  }*/
  /*
  .emptybar {
	background-color: #2e3033;
	width: 100%;

  }
  
  .filledbar {
	position: absolute;
	top: 0px;
	z-index: 3;
	width: 0px;
	height: 100%;
	background: rgb(0,154,217);
	background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
	transition: 0.6s ease-out;
  }*/
  /*
  .card:hover .filledbar {
	width: 120px;
	transition: 0.4s ease-out;
  }
  
  .circle {
	position: absolute;
	top: 150px;
	left: calc(50% - 60px);
  }
  */
  .stroke {
	stroke: black;
	stroke-dasharray: 360;
	stroke-dashoffset: 380;
	transition: 0.6s ease-out;
  }
  
  svg {
	fill: white;
	stroke-width: 2px;
  }
  
  .card:hover .stroke {
	stroke-dashoffset: 100;
	transition: 0.6s ease-out;
  }

  #cardImgKEKW{
	max-height: 150px;
	max-width: 150px;
	padding: 10px;
	margin-top: 70px;
	min-height: 160px;
	min-width: 160px;
	border-radius: 50%;
	border: 5px;
  }

  .content{
	bottom: 0;
	position: absolute;
	margin-left: 10px;
	font-family: URW Chancery L, cursive;
  }

 