.container{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container0{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feat{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#titleH1{
    color: white;
    font-size: 35px;
    padding: 25px;
}

#table{
    background-color: white;
    width: 90%;
    height: 40px;
}
#feat{
    background-color: white;
    width: 75%;
    height: 5px;
}
.feat1{
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#table1{
    width: 90%;
    height: 40px;
    text-align: end;
}

.mat-form-field {width: 100%;}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  
  /* style file */
  .inputfile-6 + label figure {
    width: 225px;
    height: 225px;
    background-color: transparent;
    border-style: dotted;
    border-color: black;
    border-width: 4px;
    padding: 5px 25px 25px 25px;
    cursor:pointer;
  }
  .logo{
    width: 225px;
    height: 225px;
  }
  .imgpromo{
    width: 100px;
    height: 100px;
  }
  
  .inputfile-6:focus + label figure,
  .inputfile-6.has-focus + label figure,
  .inputfile-6 + label:hover figure {
    background-color: transparent;
  }
  
  .inputfile-6 + label svg {
    width: 100%;
    height: 100%;
    fill: #000;
  }

    /* style file */
      .inputfile-7 + label figure {
        width: 100px;
        height: 100px;
        background-color: transparent;
        border-style: dotted;
        border-color: black;
        border-width: 4px;
        padding: 5px 25px 25px 25px;
        cursor:pointer;
      }
      
      .inputfile-7:focus + label figure,
      .inputfile-7.has-focus + label figure,
      .inputfile-7 + label:hover figure {
        background-color: transparent;
      }
      
      .inputfile-7 + label svg {
        width: 100%;
        height: 100%;
        fill: #000;
      }
  
//BARRA DE BUSQUEDA



.field {
  display:flex;
  position:relative;
  height: 40px;
  border-radius: 5px 0px 5px 10px;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
  border-radius: 0px 5px 5px 0px;
  border: none;
  width: 10%;
  
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid black;
  border-radius: 5px 0px 0px 5px;
  
}

.field>button {
  padding:0.6em 0.8em;
  background-color:black;
  color:white;
  border-radius: 0px 5px 5px 0px;
  border: none;
}
     
#searchterm{
  width: 65vw;
}  
 //CSS SEARCH


 #tblOne{
  width: 90%;
  height: 40px;

  align-items: center;
 }

 #cl2{
   text-align: end;
   float: right;
   margin-top: -38px;
   height: 40px;
   width: 20%;
   justify-content: center;
   position: relative;
 }

 #cl1{

  align-items: center;
 }

 //-------BUTTON DELETE---------

 #titleDelete{
  text-align: center;
  font-weight: bold;
 }

 #bodyDelete{
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 #btnDelete{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://media3.giphy.com/media/tHjHlQXMktlhwuZJun/200w.gif");
  color: white;
 }

 #bodyDelete{
  justify-content: center;
  align-items: center;
  text-align: center;
 }


 //titulooosss

 #tableTitle{
  font-weight: bold;
 }

 //kek
 html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: sans-serif;
	font-weight: 100;
}

.containerTbl {

  //para posicion
   margin-top: 2vh;

	/*position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);*/
}

table {
	width: 950px;
	/*border-collapse: collapse;
	overflow: hidden;*/
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
  text-align: center;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
}

th {
	text-align: center;
}

thead {
	th {
		background-color: #ffffff;
	}
}

#delocos{
  justify-content:center;
  align-items:center;
  text-align: center;
  background-color: green;
  display: flex;
}

