<div class="row">
    <div class="col-lg-10">
        <h1 style="color: red;">Editar producto</h1>
    </div>
</div>
<div>
    <form #formUpdate="ngForm"> 
        <div class="row">
            <div class="col-lg-6">
                <mat-form-field appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput name="name" [(ngModel)]="product.name" #name="ngModel" autocomplete="off" >
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field appearance="outline">
                    <mat-label>Precio</mat-label>
                    <input matInput name="price" [(ngModel)]="product.price" #price="ngModel" autocomplete="off" >
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <mat-form-field appearance="outline">
                    <mat-label>Existencias</mat-label>
                    <input matInput name="stock" [(ngModel)]="product.stock" #stock="ngModel" autocomplete="off" >
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <input matInput name="description" [(ngModel)]="product.description" #description="ngModel" autocomplete="off" >
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Seleccionar Categoria</mat-label>
              <mat-select [(value)]="product.category">
                <mat-option *ngFor="let category of categories" [value]="category['_id']" ><img src="{{category['image']}}" style="width: 25px; margin-right: 15px;">{{category['name']}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    </form>
</div>

<div style="text-align: end; margin-top: 15px; margin-right: 15px;">
    <button style="margin-left: 10px;" mat-stroked-button color="warn" type="button" (click)="updateProduct()">Actualizar</button>
</div>