<h2>Agregar Productos</h2>
<form id="form"  #saveProduct="ngForm" (ngSubmit)="onSubmit(saveProduct)">
<div class="row">

    <div class="col-lg-4">
        <div class="container-input"  *ngIf="product.img1 == ''">
            <input accept="image/png, .jpeg, .jpg, image/gif"  (change)="handleImage($event)" type="file" name="file-6" id="file-6" class="inputfile inputfile-6" data-multiple-caption="{count} archivos seleccionados" multiple />
            <label for="file-6">
            <figure style="text-align: center;">
              Imagen
              <svg enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m12 18c-.276 0-.5-.224-.5-.5v-14c0-.276.224-.5.5-.5s.5.224.5.5v14c0 .276-.224.5-.5.5z"/><path d="m15.5 7.5c-.128 0-.256-.049-.354-.146l-3.146-3.147-3.146 3.147c-.195.195-.512.195-.707 0s-.195-.512 0-.707l3.5-3.5c.195-.195.512-.195.707 0l3.5 3.5c.195.195.195.512 0 .707-.098.097-.226.146-.354.146z"/><path d="m21.5 24h-19c-1.378 0-2.5-1.121-2.5-2.5v-19c0-1.379 1.122-2.5 2.5-2.5h19c1.378 0 2.5 1.121 2.5 2.5v19c0 1.379-1.122 2.5-2.5 2.5zm-19-23c-.827 0-1.5.673-1.5 1.5v19c0 .827.673 1.5 1.5 1.5h19c.827 0 1.5-.673 1.5-1.5v-19c0-.827-.673-1.5-1.5-1.5z"/><path d="m17.5 21h-11c-.827 0-1.5-.673-1.5-1.5v-9c0-.827.673-1.5 1.5-1.5h3c.276 0 .5.224.5.5s-.224.5-.5.5h-3c-.276 0-.5.225-.5.5v9c0 .275.224.5.5.5h11c.276 0 .5-.225.5-.5v-9c0-.275-.224-.5-.5-.5h-3c-.277 0-.5-.224-.5-.5s.223-.5.5-.5h3c.827 0 1.5.673 1.5 1.5v9c0 .827-.673 1.5-1.5 1.5z"/></svg>  </figure>
            <span class="iborrainputfile"></span>
            </label>
        </div>
          <img *ngIf=" product.img1 != '' "  src="{{product.img1}}" class="logo">
        
    </div>
    <div class="col-lg-8">

        <div class="row">
          <div class="col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput autocomplete="off" name="name" required [(ngModel)]="product.name">
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Seleccionar Categoria</mat-label>
              <mat-select [(value)]="product.category">
                <mat-option *ngFor="let category of categories" [value]="category['_id']" ><img src="{{category['image']}}" style="width: 25px; margin-right: 15px;">{{category['name']}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
          <mat-form-field appearance="outline" >
            <mat-label>Descripción</mat-label>
            <textarea matInput name="description" required [(ngModel)]="product.description" ></textarea>
          </mat-form-field>

          <div class="row">
              <div class="col-lg-6">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Precio</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="product.price" name="price">
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                  </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field appearance="outline">
                    <mat-label>Existencias</mat-label>
                    <input matInput autocomplete="off" type="number" name="stock" required [(ngModel)]="product.stock">
                    <mat-icon matSuffix>add_shopping_cart</mat-icon>
                  </mat-form-field>
            </div>
          </div>
        
    </div>

</div>


<div class="row" style="text-align: center;">
  <div class="col-lg-2">
    <div class="container-input" *ngIf="product.img2 == '' && product.img1 != ''">
      <input accept="image/png, .jpeg, .jpg, image/gif"  (change)="handleImage($event)" type="file" name="file-7" id="file-7" class="inputfile inputfile-7" data-multiple-caption="{count} archivos seleccionados" multiple />
      <label for="file-7">
      <figure style="text-align: center;">
        Imagen
        <svg enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m12 18c-.276 0-.5-.224-.5-.5v-14c0-.276.224-.5.5-.5s.5.224.5.5v14c0 .276-.224.5-.5.5z"/><path d="m15.5 7.5c-.128 0-.256-.049-.354-.146l-3.146-3.147-3.146 3.147c-.195.195-.512.195-.707 0s-.195-.512 0-.707l3.5-3.5c.195-.195.512-.195.707 0l3.5 3.5c.195.195.195.512 0 .707-.098.097-.226.146-.354.146z"/><path d="m21.5 24h-19c-1.378 0-2.5-1.121-2.5-2.5v-19c0-1.379 1.122-2.5 2.5-2.5h19c1.378 0 2.5 1.121 2.5 2.5v19c0 1.379-1.122 2.5-2.5 2.5zm-19-23c-.827 0-1.5.673-1.5 1.5v19c0 .827.673 1.5 1.5 1.5h19c.827 0 1.5-.673 1.5-1.5v-19c0-.827-.673-1.5-1.5-1.5z"/><path d="m17.5 21h-11c-.827 0-1.5-.673-1.5-1.5v-9c0-.827.673-1.5 1.5-1.5h3c.276 0 .5.224.5.5s-.224.5-.5.5h-3c-.276 0-.5.225-.5.5v9c0 .275.224.5.5.5h11c.276 0 .5-.225.5-.5v-9c0-.275-.224-.5-.5-.5h-3c-.277 0-.5-.224-.5-.5s.223-.5.5-.5h3c.827 0 1.5.673 1.5 1.5v9c0 .827-.673 1.5-1.5 1.5z"/></svg>  </figure>
      <span class="iborrainputfile"></span>
      </label>
    </div>
    <img *ngIf=" product.img2 != '' "  src="{{product.img2}}" class="imgpromo">
  </div>
  <div class="col-lg-2">
    <div class="container-input" *ngIf="product.img3 == '' && product.img2 != '' " >
      <input accept="image/png, .jpeg, .jpg, image/gif"  (change)="handleImage($event)" type="file" name="file-7" id="file-7" class="inputfile inputfile-7" data-multiple-caption="{count} archivos seleccionados" multiple />
      <label for="file-7">
      <figure style="text-align: center;">
        Imagen
        <svg enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m12 18c-.276 0-.5-.224-.5-.5v-14c0-.276.224-.5.5-.5s.5.224.5.5v14c0 .276-.224.5-.5.5z"/><path d="m15.5 7.5c-.128 0-.256-.049-.354-.146l-3.146-3.147-3.146 3.147c-.195.195-.512.195-.707 0s-.195-.512 0-.707l3.5-3.5c.195-.195.512-.195.707 0l3.5 3.5c.195.195.195.512 0 .707-.098.097-.226.146-.354.146z"/><path d="m21.5 24h-19c-1.378 0-2.5-1.121-2.5-2.5v-19c0-1.379 1.122-2.5 2.5-2.5h19c1.378 0 2.5 1.121 2.5 2.5v19c0 1.379-1.122 2.5-2.5 2.5zm-19-23c-.827 0-1.5.673-1.5 1.5v19c0 .827.673 1.5 1.5 1.5h19c.827 0 1.5-.673 1.5-1.5v-19c0-.827-.673-1.5-1.5-1.5z"/><path d="m17.5 21h-11c-.827 0-1.5-.673-1.5-1.5v-9c0-.827.673-1.5 1.5-1.5h3c.276 0 .5.224.5.5s-.224.5-.5.5h-3c-.276 0-.5.225-.5.5v9c0 .275.224.5.5.5h11c.276 0 .5-.225.5-.5v-9c0-.275-.224-.5-.5-.5h-3c-.277 0-.5-.224-.5-.5s.223-.5.5-.5h3c.827 0 1.5.673 1.5 1.5v9c0 .827-.673 1.5-1.5 1.5z"/></svg>  </figure>
      <span class="iborrainputfile"></span>
      </label>
    </div>
    <img *ngIf=" product.img3 != '' "  src="{{product.img3}}" class="imgpromo">
  </div>
  <div class="col-lg-2">
    <div class="container-input" *ngIf="product.img4 == ''  && product.img3 != ''">
      <input accept="image/png, .jpeg, .jpg, image/gif"  (change)="handleImage($event)" type="file" name="file-7" id="file-7" class="inputfile inputfile-7" data-multiple-caption="{count} archivos seleccionados" multiple />
      <label for="file-7">
      <figure style="text-align: center;">
        Imagen
        <svg enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m12 18c-.276 0-.5-.224-.5-.5v-14c0-.276.224-.5.5-.5s.5.224.5.5v14c0 .276-.224.5-.5.5z"/><path d="m15.5 7.5c-.128 0-.256-.049-.354-.146l-3.146-3.147-3.146 3.147c-.195.195-.512.195-.707 0s-.195-.512 0-.707l3.5-3.5c.195-.195.512-.195.707 0l3.5 3.5c.195.195.195.512 0 .707-.098.097-.226.146-.354.146z"/><path d="m21.5 24h-19c-1.378 0-2.5-1.121-2.5-2.5v-19c0-1.379 1.122-2.5 2.5-2.5h19c1.378 0 2.5 1.121 2.5 2.5v19c0 1.379-1.122 2.5-2.5 2.5zm-19-23c-.827 0-1.5.673-1.5 1.5v19c0 .827.673 1.5 1.5 1.5h19c.827 0 1.5-.673 1.5-1.5v-19c0-.827-.673-1.5-1.5-1.5z"/><path d="m17.5 21h-11c-.827 0-1.5-.673-1.5-1.5v-9c0-.827.673-1.5 1.5-1.5h3c.276 0 .5.224.5.5s-.224.5-.5.5h-3c-.276 0-.5.225-.5.5v9c0 .275.224.5.5.5h11c.276 0 .5-.225.5-.5v-9c0-.275-.224-.5-.5-.5h-3c-.277 0-.5-.224-.5-.5s.223-.5.5-.5h3c.827 0 1.5.673 1.5 1.5v9c0 .827-.673 1.5-1.5 1.5z"/></svg>  </figure>
      <span class="iborrainputfile"></span>
      </label>
    </div>
    <img *ngIf=" product.img4 != '' "  src="{{product.img4}}" class="imgpromo">
  </div>
  <div class="col-lg-2">
    <div class="container-input" *ngIf="product.img5 == ''  && product.img4 != ''" >
      <input accept="image/png, .jpeg, .jpg, image/gif"  (change)="handleImage($event)" type="file" name="file-7" id="file-7" class="inputfile inputfile-7" data-multiple-caption="{count} archivos seleccionados" multiple />
      <label for="file-7">
      <figure style="text-align: center;">
        Imagen
        <svg enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m12 18c-.276 0-.5-.224-.5-.5v-14c0-.276.224-.5.5-.5s.5.224.5.5v14c0 .276-.224.5-.5.5z"/><path d="m15.5 7.5c-.128 0-.256-.049-.354-.146l-3.146-3.147-3.146 3.147c-.195.195-.512.195-.707 0s-.195-.512 0-.707l3.5-3.5c.195-.195.512-.195.707 0l3.5 3.5c.195.195.195.512 0 .707-.098.097-.226.146-.354.146z"/><path d="m21.5 24h-19c-1.378 0-2.5-1.121-2.5-2.5v-19c0-1.379 1.122-2.5 2.5-2.5h19c1.378 0 2.5 1.121 2.5 2.5v19c0 1.379-1.122 2.5-2.5 2.5zm-19-23c-.827 0-1.5.673-1.5 1.5v19c0 .827.673 1.5 1.5 1.5h19c.827 0 1.5-.673 1.5-1.5v-19c0-.827-.673-1.5-1.5-1.5z"/><path d="m17.5 21h-11c-.827 0-1.5-.673-1.5-1.5v-9c0-.827.673-1.5 1.5-1.5h3c.276 0 .5.224.5.5s-.224.5-.5.5h-3c-.276 0-.5.225-.5.5v9c0 .275.224.5.5.5h11c.276 0 .5-.225.5-.5v-9c0-.275-.224-.5-.5-.5h-3c-.277 0-.5-.224-.5-.5s.223-.5.5-.5h3c.827 0 1.5.673 1.5 1.5v9c0 .827-.673 1.5-1.5 1.5z"/></svg>  </figure>
      <span class="iborrainputfile"></span>
      </label>
    </div>
    <img *ngIf=" product.img5 != '' "  src="{{product.img5}}" class="imgpromo">
  </div>
  <div class="col-lg-4">
    <button mat-raised-button style="width: 100%; margin-bottom: 15px; background-color: black; color: #fff; margin-top: 10px;" type="submit">Agregar Producto</button>
    <button mat-raised-button color="warn" style="width: 100%;" (click)="onNoClick()" >Cancelar</button>
  </div>
  

</div>
</form>



  