
  <div class="row" id="Nav">
    <div class="col-lg-4" id="col1" style="width: 33.33%;">
      <a routerLink="/" style="font-size: 20px;"> <img src="../../../assets/img/objetivo.svg" alt="" style="width: 25px; margin-right: 10px; margin-top: -5px;">KOORDINAT</a>
    </div>



    <div class="col-lg-4" id="" style="display: flex; justify-content: center; align-items: center; width: 33.33%;">
      <div id="pog" #target ><button mat-button id="btnNav" routerLink="/"><mat-icon>store</mat-icon></button></div>
      <div id="pog" #catgs><button mat-button id="btnNav" routerLink="catalogo"><mat-icon>streetview</mat-icon></button></div>

        <div  id="pog" *ngIf="vrf!=null" ><button mat-button disabled id="btnNav" style="color: black;"><mat-icon>keyboard_arrow_right</mat-icon></button></div>
        <div id="pog" *ngIf="vrf==0 && vrf!=null" #cars><button mat-button id="btnNav" routerLink="carrito"><mat-icon >shopping_cart</mat-icon></button>  <ng-container [appPopper]="cars" [target]="car"></ng-container>
          <span  class="popper" #car>
            <span class="popper__arrow"></span>
            Carrito
          </span></div>
        <div id="pog" *ngIf="vrf==0 && vrf!=null" #wlists><button mat-button id="btnNav" routerLink="deseos"><mat-icon >fact_check</mat-icon></button>  <ng-container [appPopper]="wlists" [target]="wlist"></ng-container>
          <span  class="popper" #wlist>
            <span class="popper__arrow"></span>
            Lista de Deseos
          </span></div>
        <div  id="pog" *ngIf="vrf==1 && vrf!=null"  #users><button  mat-button id="btnNav" routerLink="users"><mat-icon>people</mat-icon></button><ng-container [appPopper]="users" [target]="usern"></ng-container>
          <span  class="popper" #usern>
            <span class="popper__arrow"></span>
            Usuarios
          </span></div>
        <div id="pog" *ngIf="vrf==1 && vrf!=null"  #businesses><button mat-button id="btnNav" routerLink="empresas"><mat-icon>business</mat-icon></button> <ng-container [appPopper]="businesses" [target]="business"></ng-container>
          <span  class="popper" #business>
            <span class="popper__arrow"></span>
            Empresas
          </span></div>
        <div id="pog" *ngIf="vrf==1 && vrf!=null" #categorys><button mat-button id="btnNav" routerLink="categorias"><mat-icon>category</mat-icon></button> <ng-container [appPopper]="categorys" [target]="category"></ng-container>
          <span  class="popper" #category>
            <span class="popper__arrow"></span>
            Categorias
          </span></div>

         <!--Mostrar con Rol Business-->
      <div id="pog" *ngIf="vrf==2 && vrf!=null" #products><button mat-button id="btnNav" routerLink="productos"><mat-icon>inventory_2</mat-icon></button>    <ng-container [appPopper]="products" [target]="product"></ng-container>
        <span  class="popper" #product>
          <span class="popper__arrow"></span>
          Productos
        </span></div>
        <div id="pog" *ngIf="vrf==2 && vrf!=null" #orders><button mat-button id="btnNav" routerLink="pedidos"><mat-icon>pending_actions</mat-icon></button>    <ng-container [appPopper]="orders" [target]="order"></ng-container>
          <span  class="popper" #order>
            <span class="popper__arrow"></span>
            Pedidos
          </span></div>
      <!---->
      <div  id="pog" ><button mat-button disabled id="btnNav" style="color: black;"><mat-icon>keyboard_arrow_right</mat-icon></button></div>

      <div id="pog" #infos><button mat-button id="btnNav" routerLink="informacion"><mat-icon>info</mat-icon></button></div>

      <div id="pog" *ngIf="vrf==0 && vrf!=null" #helpUsers><button mat-button id="btnNav" routerLink="ayuda/usuario"><mat-icon>help</mat-icon></button>  
        <ng-container [appPopper]="helpUsers" [target]="helpUser"></ng-container>
        <span  class="popper" #helpUser>
          <span class="popper__arrow"></span>
          Ayuda al Usuario
        </span></div>

        <div id="pog" *ngIf="vrf==2 && vrf!=null" #helpBuss><button mat-button id="btnNav" routerLink="ayuda/vendedor"><mat-icon>help</mat-icon></button>    <ng-container [appPopper]="helpBuss" [target]="helpBus"></ng-container>
          <span  class="popper" #helpBus>
            <span class="popper__arrow"></span>
            Ayuda al vendedor
          </span></div>

          <div id="pog" *ngIf="vrf==null" #helps><button mat-button id="btnNav" routerLink="ayuda"><mat-icon>help</mat-icon></button>    <ng-container [appPopper]="helps" [target]="help"></ng-container>
            <span  class="popper" #help>
              <span class="popper__arrow"></span>
              Ayuda
            </span></div>
    </div>
    

    
<!-- Botones Auth -->
    <div class="col-lg-4" id="col3" style="text-align: end; width: 33.33%;" *ngIf="token == null" >
      <a routerLink="/login">Logearse</a>
      <a routerLink="/register">Registrarse</a>
    </div>

<!--Boton de usuario-->
    <div class="col-lg-4" id="col3" style="text-align: end; width: 33.33%;" *ngIf="token != null" >
      <button  mat-button style="font-size: 15px;" [matMenuTriggerFor]="menu">
        <span class="material-icons">person</span>
        {{user.email}} 
        <span class="material-icons">keyboard_arrow_down</span>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" class="custom-class">
        <button mat-menu-item routerLink="/user">Perfil</button>
        <button mat-menu-item routerLink="/" (click)="logOut()">Cerrar Sesion</button>
      </mat-menu> 
      
    </div>
    <!-- Fin Boton de usuario-->
  </div>





  <!-- Mensaje Tienda -->
  <ng-container [appPopper]="target" [target]="tooltip"></ng-container>
  <span  class="popper" #tooltip>
    <span class="popper__arrow"></span>
    Tienda
  </span>
  <!-- Mensaje Carrito -->
  <ng-container [appPopper]="catgs" [target]="catg"></ng-container>
  <span  class="popper" #catg>
    <span class="popper__arrow"></span>
    Catalogo
  </span>
    <!-- Mensaje Carrito -->
    <ng-container [appPopper]="infos" [target]="info"></ng-container>
    <span  class="popper" #info>
      <span class="popper__arrow"></span>
      Información
    </span>
