<STYLE>a {text-decoration: none;} </STYLE> 
  <div class="row" id="Nav">
    <div class="col-lg-4" id="col1">
    <a id="btnNav" routerLink="login">
      <mat-icon>place</mat-icon>
      <span>KOORDINAT</span>
    </a>
    </div>
    <STYLE>a {text-decoration: none;} </STYLE> 
    <div class="col-lg-4" id="" style="display: flex; justify-content: center; align-items: center;">
      <div id="pog"><a id="btnNav" routerLink="login"><mat-icon>shopping_cart</mat-icon></a></div>
      <div id="pog"><a id="btnNav" routerLink="login"><mat-icon>store</mat-icon></a></div>
      <div id="pog"><a id="btnNav" routerLink="login"><mat-icon>local_offer</mat-icon></a></div>
      <div id="pog"><a id="btnNav" routerLink="login"><mat-icon>streetview</mat-icon></a></div>
    </div>


    <!--Boton de usuario-->
<!-- -->
    <div class="col-lg-4" id="col3" style="text-align: end;" *ngIf="token == null" >
      <a routerLink="/login">Logearte</a>
      <a routerLink="/register">Registrarse</a>
    </div>


    <div class="col-lg-4" id="col3" style="text-align: end;" *ngIf="token != null" >
      <button  mat-button style="font-size: 15px;" [matMenuTriggerFor]="menu">
        <span class="material-icons">person</span>
        aaaaaaaa
        <span class="material-icons">keyboard_arrow_down</span>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" class="custom-class">
        <button mat-menu-item routerLink="/user">Perfil</button>
        <button mat-menu-item routerLink="/" (click)="logOut()">Cerrar Sesion</button>
      </mat-menu> 
      
    </div>
    <!-- Fin Boton de usuario-->
  </div>






<!-- <STYLE>a {text-decoration: none;} </STYLE> 
<mat-toolbar color="primary" >
  <div id="toolNav">
    <a class="button clear" >
      <mat-icon>map</mat-icon>
      <span>KOORDINAT</span>
    </a>
    
    
    <div id="divNav"  class="pilín">
      <mat-icon>map</mat-icon>
      <mat-icon>map</mat-icon>
      <mat-icon>map</mat-icon>  
      <mat-icon>map</mat-icon>
    </div>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>  
</mat-toolbar>   --> 

