
  <div class="row" id="Nav">
    <div class="col-lg-4" id="col1">
      <a routerLink="/" style="font-size: 20px;"> <img src="../../../assets/img/objetivo.svg" alt="" style="width: 25px; margin-right: 10px; margin-top: -5px;">KOORDINAT</a>
    </div>



    <div class="col-lg-4" id="" style="display: flex; justify-content: center; align-items: center;">
      <div id="pog" #target ><button mat-button id="btnNav" routerLink="login"><mat-icon >shopping_cart</mat-icon></button></div>
      <div id="pog" #cars><button mat-button id="btnNav" routerLink="login"><mat-icon>store</mat-icon></button></div>
      <div id="pog" #oferts><button mat-button id="btnNav" routerLink="login"><mat-icon>local_offer</mat-icon></button></div>
      <div id="pog" #catgs><button mat-button id="btnNav" routerLink="login"><mat-icon>streetview</mat-icon></button></div>
    </div>

    
<!-- Botones Auth -->
    <div class="col-lg-4" id="col3" style="text-align: end;" *ngIf="token == null" >
      <a routerLink="/login">Logearse</a>
      <a routerLink="/register">Registrarse</a>
    </div>

<!--Boton de usuario-->
    <div class="col-lg-4" id="col3" style="text-align: end;" *ngIf="token != null" >
      <button  mat-button style="font-size: 15px;" [matMenuTriggerFor]="menu">
        <span class="material-icons">person</span>
        aaaaaaaa
        <span class="material-icons">keyboard_arrow_down</span>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" class="custom-class">
        <button mat-menu-item routerLink="/user">Perfil</button>
        <button mat-menu-item routerLink="/" (click)="logOut()">Cerrar Sesion</button>
      </mat-menu> 
      
    </div>
    <!-- Fin Boton de usuario-->
  </div>




  <!-- Mensaje Carrito -->
  <ng-container [appPopper]="cars" [target]="car"></ng-container>
  <span  class="popper" #car>
    <span class="popper__arrow"></span>
    Carrito
  </span>
  <!-- Mensaje Tienda -->
  <ng-container [appPopper]="target" [target]="tooltip"></ng-container>
  <span  class="popper" #tooltip>
    <span class="popper__arrow"></span>
    Tienda
  </span>
  <!-- Mensaje Carrito -->
  <ng-container [appPopper]="oferts" [target]="ofert"></ng-container>
  <span  class="popper" #ofert>
    <span class="popper__arrow"></span>
    Ofertas
  </span>
  <!-- Mensaje Carrito -->
  <ng-container [appPopper]="catgs" [target]="catg"></ng-container>
  <span  class="popper" #catg>
    <span class="popper__arrow"></span>
    Catalogo
  </span>




