
*{
  text-decoration: none;

}

a{
  color: black;
  margin-right: 15px;
}

.row{
  height: 50px;
  width: 100%;  
  margin-inline: -1px;
}

#Nav{
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 2;
}

#col2{
  align-content: center;
}

#col1, #col3{line-height: 50px;}


span{
  z-index: 2;
}