@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);
//CSS GENERAL

  body {
    background: linear-gradient(#ccc, #fff);
    font: 14px sans-serif;
    padding: 20px;
  }
  .letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 800px;
    min-height: 600px;
    padding: 24px;
    position: relative;
    width: 80%;
  }
  .letter:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  .letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }

  .title{
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 37px;
    font-family: Gill Sans, sans-serif; 
  }

  .body{
    font-size: 16px;
    margin-bottom: 10px;
    font-family: Gill Sans, sans-serif; 
  }

  #col1{
    width: 50%;
    float: left;
  }

  #col2{
    width: 50%;
    float: right;
  }

  .qstion{
    padding: 12px;
      
  }

  .img{
    
    width: 150px;
    height: 150px; 
  }

  // CSS SERVICIO AL CLIENTE

 #Files{
    align-content: center;
    text-align: center;
 }

 #saTitle{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 37px;
    font-family: Gill Sans, sans-serif; 
 }

 #saSubtitle{
    text-align: center;
    font-weight: bold;
 }

 #saBody{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: Gill Sans, sans-serif; 
 }

//TERMINOS Y CONDICIONES 

#tcTitle{
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 37px;
  font-family: Gill Sans, sans-serif; 
}

#tcBody{
  text-align: justify;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: Gill Sans, sans-serif;
  padding: 10px;
}
    
#tcSubtitle{
  text-align: center;
  font-weight: bold;
}

//BARRA DE BUSQUEDA


.field {
  display:flex;
  position:relative;
  width:30%;
  height: 40px;
  flex-direction:row;
  border-radius: 5px  0px 5px 10px;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
  border-radius: 0px  5px 5px 0px;
  border: none;
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid black;
  border-radius: 5px  0px 0px 5px;
  
}

.field>button {
  padding:0.6em 0.8em;
  background-color:black;
  color:white;
  border-radius: 0px  5px 5px 0px;
  border: none;
}

//CSS HELP SELLER

#ssTitle{
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 37px;
  font-family: Gill Sans, sans-serif; 
}

#ssBody{
  text-align: justify;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: Gill Sans, sans-serif;
  padding: 10px;
  padding-bottom: 40px;
}
    
#ssSubtitle{
  padding-top: 40px;
  text-align: center;
  font-weight: bold;
}

//CSS DE INFORMACIÓN DE LA EMPRESA

#infoBody{
  text-align: justify;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: Gill Sans, sans-serif;
  padding: 10px;
  padding-bottom: 40px;
}

#infoSubtitle{
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

.qstion{
  text-align: justify;
  padding: 12px;
  font-size: 15px;
  margin-bottom: 10px;
  font-family: Gill Sans, sans-serif; 
}

.infoTitle{
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 37px;
  font-family: Gill Sans, sans-serif; 
}

/*
#infointoSubtitle{
  font-family: Gill Sans, sans-serif; 
  font-weight: bold;
  font-size: 15px;
}*/

//BODY INFO
body {
  background: linear-gradient(#ccc, #fff);
  font: 14px sans-serif;
  padding: 20px;
}
.infoLetter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 800px;
  min-height: 700px;
  padding: 24px;
  position: relative;
  width: 80%;
}
.infoLetter:before, .infoLetter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.infoLetter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.infoLetter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}