<link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">

<br><br><br>
 
<mat-drawer-container class="example-container" style="background:transparent;">


<!-- 
<div id="sideGood" >
  <div id="side1" [ngModel]="categoryS" >
      <body>
        <input type="checkbox" id="check">
        <label for="check">
          <i class="fas fa-bars" id="btn"></i>
          <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
          <header>CATEGORÍAS</header>
          <a class="active" *ngFor="let category of categories " (click)="select(category)">
            <i class="fas fa-qrcode"></i>
            <span>{{category['name']}}</span>
          </a>
        </div>
    </body>
  </div>
</div>
-->







  <mat-drawer-content>
    <!-- 
    <div class="row" *ngIf="categoryS == null">
      <div class="col-lg-2" *ngFor="let category of categories">
        <div class="container" (click)="select(category)">
          <img src="{{category['image']}}"  class="image">
          <div class="overlay">
            <div class="text">{{category['name']}}</div>
          </div>
        </div>
      </div>
    </div>
-->

  <div class="container" *ngIf="categoryS != null" >
    <div class="card" *ngFor="let category of categories" (click)="select(category)" >
    <h3 class="title">{{category['name']}}</h3>
    </div>
  </div>




<div id="btnCat">
  <div class="row" *ngIf="categoryS == null">
    <div class="col-lg-3" *ngFor="let category of categories">
      <div class="" (click)="select(category)">
        <div class="buttons">
          <button class="btn-hover color-1">{{category['name']}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
    <ng-container *ngIf="categoryS != null" >
      <app-catalogue-list [categoryS]="categoryS"></app-catalogue-list>
    </ng-container>
  </mat-drawer-content>




